* {
  background-image: url(assets/images/background-1660920_1280.jpg);
}
body {
    font-family: cursive, serif;
    font-size: 2em;
    /* background-color:  #ab793b; */
    background-image: url(assets/images/background-1660920_1280.jpg);
    /* background-position: right bottom, left top; */
    /* background-repeat: no-repeat, repeat; */
  }
  
  .lead {
    font-size: xx-large;
  }
  textarea {
    border: groove;
    border-radius: 5px;
    resize: none;
    font-size: 20px;
    color: #000000;
    border-left: 5px ridge;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
    margin: 10px;
  }
  
  .row {
    border-top: 1px solid rgb(34, 22, 10);
  }
  
  .hour {
    background-color: #ab793b;
    color: #000000;
    /* border-top: 1px dashed #000000; */
  }
  
  .past {
    background-color: #c2bcbc;
    color: white;
  }
  
  .present {
    background-color: #fa974c;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(184, 115, 51);
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all 0.3s ease-in-out;
  }
  